<!DOCTYPE html>
<html>
<head>
  <title>Covers</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div style="height:80px; width:100%; background:#000;">
  <span style="color:#eee; font-size:60px; margin:10px;">
    COVERS
  </span>
</div>

<%= yield %>

</body>
</html>
